<!-- Footer content here -->
<div class="container">
	<div class="row-fluid">
		<p>
		DataONE is a collaboration among many partner organizations, and is funded by the US National Science Foundation (NSF) under a Cooperative Agreement. 
		1312 Basehart SE 1 University of New Mexico Albuquerque, NM 87106
		</p>
		<p>
		Acknowledgment: This material is based upon work supported by the National Science Foundation under Grant Number 083094
		</p>
		<p>
		Disclaimer: Any opinions, findings, and conclusions or recommendations expressed in this material are those of the author(s) and do not necessarily reflect the views of the National Science Foundation.
		</p>
	</div>
</div>
