<!--
    <div style="height:400px;">
    	<div class="fluid-row">
	     	<div class="alert span3 center plum-bkgrd" 
	      		style="color:white; margin-top:200px;opacity: 0.65;">
	      		Loading...<br>
			</div>
		</div>
    </div>
 -->
 <div style="height:200px;margin-top:100px">
	 <div class="center row col-md-5" >Loading...</div>
	 <div class="row col-md-5 center progress progress-striped active">
	  <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
	    <span class="sr-only">45% Complete</span>
	  </div>
	</div>
</div>