<article id="NodeSummary">

	<div class="container">
		<div class="row">
			<div class="pull-left col-md-9">
				<h2 class="text-left">
					<span name="nodes" id="nodesViewTitle"></span>
				</h2>
			</div>
		</div>
		
		<div id="Totals" class="row">
				<div style="width:45%; margin-right:6%;" class="popover-target text-center label label-data"
						data-toggle="popover" 
						data-trigger="hover"
						data-container="body" 
						data-placement="right" 
						data-original-title="Data Files"
						data-content="The number of publicly available science data files available through DataONE.  These figures include document revisions but exclude archived and private content.">
							<div class="lead countData text-left">0,000</div>
							<hr class="no-bkg"/>
							<div class="bytesSummary text-left">
							  Data Files (<span class="bytesData">0.00 GB</span>)
							</div>
				</div>
			
				<div style="width:45%" class="popover-target text-center label label-metadata"
					data-toggle="popover" 
					data-trigger="hover"
					data-container="body" 
					data-placement="left" 
					data-original-title="Metadata Records"
					data-content="The number of publicly available science metadata records available through DataONE.  These figures include document revisions but exclude archived and private content.">
					<div class="lead countMetadata text-left">0,000</div>
					<hr class="no-bkg"/>
					<div class="bytesSummary text-left">
					  Metadata Files (<span class="bytesMetadata">0.00 GB</span>)
					</div>
				</div>
		</div>

		<div class="row">
			<div class="pull-left">
				<h4 id="chartTitle"></h4>
			</div>
		</div>
		
		
</article>
